body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

html {
  position: relative;
  min-height: 100%;
}
#content {
  padding-bottom: 50px;
}
#footer .navbar{
  position: absolute;
}

.carousel {
  margin-bottom: 5rem;
}

/* .carousel-item {
  max-height: 580px;
} */

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 2.75rem;
  margin-left: 2.75rem;
}

.featurette {
  margin: 5rem;
}
.sidebar {
  margin: 5rem;
}

.featurette-divider {
  margin: 1rem;
}
.featurette-heading {
    font-size: 50px;
  }

.button {
    display: block;
    width: 100%;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #23a638; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}